{% extends 'base.html' %}

{% block title %}Excluir Fornecedor{% endblock %}

{% block content %}
    <h1 class="mb-4">Excluir Fornecedor</h1>
    <p>Tem certeza que deseja excluir o fornecedor <strong>{{ fornecedor.nome }}</strong> (Código: {{ fornecedor.id }})?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a href="{% url 'lista_fornecedores' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}